deb
chaps-*
chaps_*_amd64.deb
chaps_*_amd64.changes
libchaps0_*_amd64.deb
libchaps0_*_amd64.changes
chaps_*.orig.tar.gz
chaps_*.debian.tar.gz
chaps_*.dsc
chaps_*_source.changes
build.out
test.out
package.out
results.out