Source: chaps
Section: admin
Priority: extra
Maintainer: David Drysdale <drysdale@google.com>
Build-Depends: debhelper (>= 8.0.0),
               scons (>= 2.1.0),
               protobuf-compiler (>= 2.4.1),
               libdbus-1-dev (>= 1.4.18),
               libdbus-c++-dev (>= 0.9.0),
               libprotobuf-dev (>= 2.4.1),
               libsnappy-dev,
               libleveldb-dev (>= 1.12.0),
               libglib2.0-dev (>= 2.32.1),
               libctemplate-dev,
               libssl-dev (>= 1.0.1),
               libtspi-dev (>= 0.3.7),
               libpam0g-dev
Standards-Version: 3.9.3
Vcs-Git: git://github.org/google/chaps-linux.git
Vcs-Browser: https://github.org/google/chaps-linux

Package: chaps
Architecture: any
Depends: trousers (>= 0.3.7), ${shlibs:Depends}, ${misc:Depends}
Description: PKCS #11 implementation for TPM backed services
 Chaps is a PKCS #11 implementation that provides trusted platform module (TPM)
 backed cryptographic services. It aims to improve speed and reliability of
 cryptographic token operations as well as to provide a simpler and more
 flexible codebase for future enhancements.  Chaps works with a TCG Software
 Stack (TSS).  Typically the TrouSerS TSS implementation is used, but Chaps
 is not limited to working with TrouSerS.  The name "Chaps" has no real
 significance other than its fitness as a name for a layer above TrouSerS.
 .
 This package includes the daemon and a PAM module which, if enabled,
 generates a PKCS #11 token for each user that logs into the system.
 .
 To generate a PKCS #11 token, the installing user should log out and in again
 to get access to their token.

Package: libchaps0
Architecture: any
Depends: chaps (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: PKCS #11 implementation library
 Chaps is a PKCS #11 implementation that provides trusted platform module (TPM)
 backed cryptographic services. It aims to improve speed and reliability of
 cryptographic token operations as well as to provide a simpler and more
 flexible codebase for future enhancements.  Chaps works with a TCG Software
 Stack (TSS).  Typically the TrouSerS TSS implementation is used, but Chaps
 is not limited to working with TrouSerS.  The name "Chaps" has no real
 significance other than its fitness as a name for a layer above TrouSerS.
 .
 This package includes the shared library that provides application
 access to the PKCS #11 API.
